body {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color:  rgb(222, 222, 222);
}

.form-control {
    margin-bottom:10px;
}
#comentLabel{
    margin-top:10px;
}

.row{
    margin-bottom:10px;
}

.income-list, .expense-list,.diagram{
    background-color: rgb(205, 205, 205);
    min-height: 100px;
   
}
