{% extends "base.html" %}

{% block title %}Bills Overview{% endblock %}

{% block footer %}

<script src="/js/billsOverview.js"></script>
<script>



</script>


{% endblock %}
{% block body %}

<form action="/BillsOverview/test" method="post">
    <button type="submit">test</button>
</form>

<div class="d-flex justify-content-center">
    <h3>Prowadzenie konta</h3>
</div>
<div class="d-flex justify-content-center">
    <h6>Wybierz zakres</h6>
</div>

<div class="row justify-content-center">
    <div class="col-5">
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="this-month">Bieżący miesiąc</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="last-month">Poprzedni miesiąć</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="last-three-month">Ostatnie 3 miesiące</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-button">
        <div class="row billsButton">
            <button type="button" class="show-calendar btn btn-outline-dark">Data niestandardowa</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-calendar" style="display:none">
        <div class="container-fluid container-date-range">
            <label for="beaginingDate">Wykres od:</label>
            <input type="date" id="beaginingDate" name="date" class="form-control" />

            <label for="endDate">Wykres do:</label>
            <input type="date" id="endDate" name="date" class="form-control" />
        </div>
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-dark" id="custom-date">Pokaż Bilans</button>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span>
            <h6 id="diagram-panel">Bieżący miesiąc:</h6>
        </span>
    </div>

    <div class="row justify-content-center">

        <div class="col-6 justify-content-center"> <label for="income-list"><h6>Przychody:</h6></label> </div>
        <div class="col-6 justify-content-center"> <label for="expense-list"><h6>Wydatki:</h6></label> </div>

        

        <div id="income-list" name="income-list" class="col border border-2 border-primary rounded income-list">
            Place for income-list
        </div>
    
        <div id="expense-list" name="expense-list" class="col border border-2 border-primary rounded expense-list">
            Place for expense-list
        </div>

    </div>

    <div class="row justify-content-center">
        <label for="diagram"><h6>Wykres:</h6></label>
        <div id="diagram" name="diagram" class="border border-2 border-primary rounded diagram">
            Place for diagram
        </div>
    </div>
</div>

{% endblock %}