{% extends "base.html" %}

{% block title %}Bills Overview{% endblock %}

{% block footer %}

<script src="/js/billsOverview.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="/js/d3pie.js"></script>

{% endblock %}
{% block body %}



<div class="d-flex justify-content-center">
    <h3>Prowadzenie konta</h3>
</div>
<div class="d-flex justify-content-center">
    <h6>Wybierz zakres</h6>
</div>

<div class="row justify-content-center">
    <div class="col-5">
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="this-month">Bieżący miesiąc</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="last-month">Poprzedni miesiąć</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn btn-outline-primary" id="last-three-month">Ostatnie 3 miesiące</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-button">
        <div class="row billsButton">
            <button type="button" class="show-calendar btn btn-outline-dark">Data niestandardowa</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-calendar" style="display:none">
        <form id="custom_input_date" method="post" action="/billsOverview/getBilans">
            <div class="container-fluid ">
                <label for="beaginingDate">Wykres od:</label>
                <input type="date" id="beaginingDate" name="beaginingDate" class="form-control" required />

                <label for="endDate">Wykres do:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" required />
            </div>
            <div class="row billsButton">
                <button type="button" class="btn btn-outline-dark" id="custom-date">Pokaż Bilans</button>
            </div>
        </form>
    </div>

    <div id="bilans-contetn" style="display:none">
        <div id="range-name" class="row"></div>

        <div class="row justify-content-center">

            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <label for="income-list">
                        <h6>Przychody:</h6>
                    </label>
                </div>
            </div>

            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <label for="expense-list">
                        <h6>Wydatki:</h6>
                    </label>
                </div>
            </div>

            <div id="income-list" name="income-list" class="col border border-2 border-primary rounded income-list">:Przychody</div>

            <div id="expense-list" name="expense-list" class="col border border-2 border-primary rounded expense-list">Wydatki</div>

        </div>

        <div class="d-flex justify-content-center">
            <div id="diagram" name="diagram" class="border border-2 border-primary rounded diagram"></div>
        </div>
    </div>

</div>

{% endblock %}