{% extends "base.html" %}

{% block title %}Bills Overview{% endblock %}

{% block footer %}

<script src="/js/billsOverview.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="/js/d3pie.js"></script>

{% endblock %}
{% block body %}



<div class="d-flex justify-content-center">
    <h3><i class='fas fa-arrow-trend-up fa-fw me-2'></i>Przeglądaj bilans</h3>
</div>
<div class="d-flex justify-content-center">
    <h6>Wybierz zakres</h6>
</div>

<div class="row justify-content-center">
    <div class="col-5">
        <div class="row billsButton">
            <button type="button" class="btn my_button" id="this-month">Bieżący miesiąc</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn my_button" id="last-month">Poprzedni miesiąć</button>
        </div>
        <div class="row billsButton">
            <button type="button" class="btn my_button" id="last-three-month">Ostatnie 3 miesiące</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-button">
        <div class="row billsButton">
            <button type="button" class="show-calendar btn my_button">Data niestandardowa</button>
        </div>
    </div>

    <div class="col-5" id="user-date-range-calendar" style="display:none">
        <form id="custom_input_date" method="post" action="/billsOverview/getBilans">
            <div class="container-fluid ">
                <label for="beaginingDate">Wykres od:</label>
                <input type="date" id="beaginingDate" name="beaginingDate" class="form-control" required />

                <label for="endDate">Wykres do:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" required />
            </div>
            <div class="row billsButton">
                <button type="button" class="btn my_button" id="custom-date">Pokaż Bilans</button>
            </div>
        </form>
    </div>

    <div id="bilans-contetn" >
        <div id="range-name" class="row border border-2 border-primary rounded expense-list" 
        style="font-size: 15px; font-weight: bold; margin-bottom: 5px; margin-top: 5px; padding-left: 15px">Bilans</div>

        <div id="income" class="row border border-2 border-primary rounded income-list">

            <label for="income-list" style="font-size: 15px; font-weight: bold; margin-bottom: 5px; margin-top: 5px">Przychody</label>
            <div id="income-list" name="income-list" class="col"></div>

            <div id="diagram-container"class="col d-flex justify-content-end">
                <div id="diagram_income" name="diagram_income" ></div>
            </div>

        </div>

        <div id="expense" class="row border border-2 border-primary rounded expense-list">

            <label for="expense-list" style="font-size: 15px; font-weight: bold; margin-bottom: 5px; margin-top: 5px">Wydatki</label>
            <div id="expense-list" name="expense-list" class="col"></div>

            <div id="diagram-container"class="col d-flex justify-content-end">
                <div id="diagram_expense" name="diagram_expense" ></div>
            </div>
        </div>

    </div>

</div>

{% endblock %}