{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block header %}

{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/edit.js"></script>

{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">
  <h3><i class='fas fa-gear fa-fw me-2'></i>Ustawienia</h3>
</div>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edytuj kategorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="update_value">
        <div class="modal-body">
          <div class="mb-3">
            <label for="category_name" class="col-form-label">Zamień na:</label>
            <input type="text" class="form-control" id="category_name" name="category_name" required>
            <input type="number" class="form-control" id="categoryId" name="categoryId" hidden>
            <label class="col-form-label" id="edit_message" style="color:red"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" id="updateIncome">Aktualizuj</button>
          <button type="button" class="btn btn-primary" id="updateExpense">Aktualizuj</button>
          <button type="button" class="btn btn-primary" id="updatePayment">Aktualizuj</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Usuń kategorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body"  id="delte_with_positions">
          <div class="mb-3" hidden>
            <input type="number" class="form-control" id="categoryDeleteId" name="categoryDeleteId">
            <span style="text-align: center"> </span>
          </div>
          <div style="text-align: center; margin-bottom: 15px">
            <i class='fas fa-skull-crossbones fa-fw me-2' style="color: rgb(195, 135, 6)"></i> 
            Usunięcie wybranej
            kategorii spowoduje usunięcie przypisanych do
            niej pozycji, czy nadal chcesz usunąć kategorię? 
          </div>
        </div>
        <div class="modal-footer" id="delete_footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteIncome">Usuń</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteExpenseButton">Usuń</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deletePaymentButton">Usuń</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addIncomelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addIncomelLabel">Dodaj</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="add_value">
        <div class="modal-body">
          <div class="mb-3">
            <label for="newName" class="col-form-label">Dodaj nową kategorie:</label>
            <input type="text" class="form-control" id="newName" name="newName" required>
            <label class="col-form-label" id="add_message" style="color:red"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" id="addNew">Dodaj</button>
          <button type="button" class="btn btn-primary" id="addExpenseButton">Dodaj</button>
          <button type="button" class="btn btn-primary" id="addPayButton">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button id="edit-profile" type="button" class="btn my_button" style="width:100%">Edytuj profil</button>
<form method="post" id="formProfile" action="/profile/update" style="display:none">

  <div class="form-group">
    <label for="inputName">Name</label>
    <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"
      class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock"
      class="form-control" />
    <span id="helpBlock" class="help-block">Zostaw puste hasło jeżeli nie chcesz go zmieniać</span>
  </div>

  <input type="checkbox" id="show-password">
  <label for="show-password">Show Password</label>

  <div class="d-grid mx-auto edit" style="width:95%">
    <button type="submit" class="btn bg-success bg-gradient">Zapisz zmiany</button>
  </div>

</form>

<button id="edit-income" type="button" class="btn my_button" style="width:100%">Edytuj liste
  przychodów</button>
<ul id="formIncome" class="list-group w-100" style="display:none"></ul>

<button id="edit-expense" type="button" class="btn my_button" style="width:100%">Edytuj liste
  wydatków</button>
<ul id="formExpense" class="list-group w-100" style="display:none"></ul>

<button id="edit-payment" type="button" class="btn my_button" style="width:100%">Edytuj metody
  płatności</button>
<ul id="formPayment" class="list-group w-100" style="display:none"></ul>

{% endblock %}